# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python pyc files and numpy data files
*.pyc
settings/forretningslag_login.npz
*.npy
*.pdf
all_fit_summary.txt
good_fit_summary.txt
lin_reg_fit_params.pkl
good_candidates_prev24hprod.txt
*.txt
ensemble_and_prod.pkl
*.png
prod_exploration.py
combined_std.npz
gurobi.log
combined_conf_int.npz
combined_conf_int.npz
combined_conf_int.npz
combined_conf_int.npz
combined_conf_int.npz
